#trainn{
    text-align: center;
    border: 1px solid;
    width: 400px;
    margin-left: 475px;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

body{
    background-image: url(https://www.collinsdictionary.com/images/full/train_172581671_1000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    
}   
